/* Container for icons */
.header-section {
    display: flex;
    justify-content: flex-end;
    margin: 10px 20px;
}

/* Remove button styling */
.profile-icons button {
    background: none;
    border: none;
    padding: 0;
    cursor: pointer;
    margin-left: 10px;
    margin-top: -20%;
}

/* Border for icon images only */
.profile-icons .icon {
    width: 50px;
    height: 50px;
    padding: 8px;
    border: 2px solid #A1C6EA; /* Pastel blue border */
    border-radius: 8px; /* Rounded corners */
    transition: transform 0.2s ease;
}

/* Hover effect for icon images */
.profile-icons .icon:hover {
    transform: scale(1.05);
}

#saveButton[disabled] {
    opacity: 0.2; /* Makes the button look more opaque when disabled */
    pointer-events: none; /* Disables any interaction with the button */
}

/* Remove the focus outline (black square) on button click */
.profile-icons button:focus {
    outline: none;
}


/* Form container styling */
.form-container {
    max-width: 600px;
    margin: auto;
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 8px;
    background-color: #f9f9f9;
    margin-top: 20px;
    margin-bottom: 50px;
}

.form-group {
    margin-bottom: 15px;
}

.form-group label {
    font-weight: bold;
    margin-bottom: 5px;
    display: block;
}

.form-group input, .form-group select {
    width: 100%;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.submit-button {
    display: block;
    width: 100%;
    padding: 10px;
    background-color: #6e94bc;
    color: white;
    font-weight: bold;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.submit-button:hover {
    background-color: #5b82a3;
}
