
.navbar .nav-item .nav-link {
    color: rgb(60, 59, 59);
    font-size: large;
    flex-direction: row;
    margin-right: 20px;
}

/* Hover effect for the nav items */
.navbar .nav-item .nav-link:hover {
    color: blue; 
    flex-direction: row;
}


  /* Stili per la sidebar */
  .sidebar {
    width: 250px;
    height: 100%;
    background-color: #343a40;
    position: fixed;
    top: 100;
    left: -250px;
    transition: left 0.3s ease;

    display: flex;
    flex-direction: column; /* Dispone gli elementi verticalmente */
    align-items: center;    /* Centra gli elementi orizzontalmente */
}

/* Mostra la sidebar quando ha la classe .show */
.sidebar.show {
    left: 0;
}

/* Stile per il pulsante della sidebar */
#openSidebarBtn {
    background-color: #343a40;
    margin-top: 5px;
    color: white;
    border: none;
    font-size: 20px;
    left: 30px;
    margin-right: 20px;
}

.btn-sidebar {
    display: flex;
    justify-content: center; /* Centra l'immagine all'interno del pulsante */
    align-items: center;     /* Centra verticalmente */
    background: none;
    border: none;
    padding: 0;
    cursor: pointer;
}

.sidebar-icon {
    margin-top: 20px;
    width: 50px;
    height: 50px;
}
