
.navbar .nav-item .nav-link {
    color: rgb(60, 59, 59);
    font-size: large;
}

/* Hover effect for the nav items */
.navbar .nav-item .nav-link:hover {
    color: blue; 
}


  /* Stili per la sidebar */
  .sidebar {
    width: 250px;
    height: 100%;
    background-color: #343a40;
    position: fixed;
    top: 100;
    left: -250px;
    transition: left 0.3s ease;
}

/* Mostra la sidebar quando ha la classe .show */
.sidebar.show {
    left: 0;
}

/* Stile per il pulsante della sidebar */
#openSidebarBtn {
    background-color: #343a40;
    margin-top: 5px;
    color: white;
    border: none;
    font-size: 20px;
    left: 30px;
    margin-right: 40px;
}
