.profile-icons .icon {
    border: 2px solid #bb3e5b; /* Pastel blue border */   
}
/* General Styling for Event Details */
.event-details-container {
    border: 1px solid #933ebb;
    display: flex;
    flex-direction: column;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.1);
    padding: 20px;
    width: 90%;
    max-width: 700px;
    margin: 5% auto;
    transition: box-shadow 0.3s ease;
}

.event-title {
    text-align: center;
    font-size: 24px;
    font-weight: 600;
    color: #933ebb;
}

.event-info {
    display: flex;
    flex-direction: column;
    margin-top: 20px;
}

.event-row {
    display: flex;
    align-items: center;
    font-size: 18px;
    font-weight: 600;
    margin-bottom: 10px;
}

.label {
    font-size: 20px;
    font-weight: 600;
    color: #933ebb;
    margin-right: 10px;
}

.contact-info {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

.contact-profile {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    padding: 15px;
    background-color: #fff;
    border: 1px solid #e0e0e0;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.contact-picture {
    width: 50px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 20px;
    font-weight: bold;
    color: #fff;
    background-color: #bb3e5b;
    border-radius: 50%;
    text-transform: uppercase;
}

.contact-details {
    display: flex;
    flex-direction: column;
}

.contact-name {
    font-size: 18px;
    font-weight: 600;
    color: #353535;
}

.contact-sub-info {
    font-size: 14px;
    color: #555;
    margin-top: 5px;
}

.nickname, .phone {
    font-weight: 500;
}

.profile-icons .icon {
    border: 2px solid #933ebb;
}

/* Button and Interaction Styles */
#deleteEventButton {
    background: none;
    border: none;
    cursor: pointer;
    z-index: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}

#deleteEventButton .icon {
    width: 30px;
    height: 30px;
}

/* Add any hover or focus styles for the buttons as needed */
#deleteEventButton:hover {
    opacity: 0.8;
}

#deleteEventButton:focus {
    outline: none;
}

/* Responsive Adjustments */
@media (max-width: 768px) {
    .event-details-container {
        padding: 15px;
    }
    
    .contact-profile {
        flex-direction: column;
    }
    
    .contact-name, .contact-sub-info {
        font-size: 16px;
    }
}
