body {
    padding: 10px;
}
.container {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.card {
    width: 130%;
    margin-top: 10px;
    height: 270px;
    display: flex;
    flex-direction: row;
    border: 1px solid #ddd;
    border-radius: 8px;
    overflow: hidden;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    background-color: #fff;
    align-self: center;
}

.card-img-container {
    display: flex;
    border-color: blue;
    flex-direction: column; 
    align-items: center;    
    justify-content: center; 
    flex-shrink: 0;
    width: 700px;            
    height: 250px; 
    margin-top: 10px;
    margin-bottom: 10px;         
    overflow: hidden; 
    margin-left: 80px;
}

.card-img {
    width: auto;
    max-width: 700px; 
    height: auto;       
    max-height: 250px;           
    display: block;
      
}

.card-body {
    flex-grow: 1;
    padding: 15px;
    margin-left: 50px;
}

.card-title {
    font-size: 1.5rem;
    font-size: 30px;
}

.card-description {
    font-size: 1rem;
    margin-bottom: 35px;
    margin-top: -5px;
}

.card-bid {
    font-size: 1.25rem;
    margin-bottom: 40px;
    font-size: 25px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif
}

.card-createdat{
    font-size: 1rem;
    color: #666;
    margin-top: 15px;
}
.card-endat {
    font-size: 1rem;
    color: #666;
    margin-top: -20px;
}


/* ///////////////////////LISTING///////////////////////// */

 
.listing-title {
    text-align: start;
    font-size: 50px;
    margin-bottom: 2%;
    margin-left: 8%;
} 

.listing-seller, .listing-email {
    text-align: start;
    font-size: 20px;
    margin-top: -1.2%;
    margin-left: 8%;
}


.listing-detail {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
    flex-direction: column;
}

.listing-img {
    max-width: 80%;
    margin-top: 1%;
    margin-bottom: 1%;
}

.listing-body {
    font-size: 40px;
    width: 90%;
    text-align: left;
}

.listing-description, .listing-category{ 
    font-size: 20px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    margin-left: 8%;
    margin-top: 2%;
}
.listing-category{
    margin-top: -1%;
}

.listing-bid{
    margin-left: 8%;
    font-size: 30px;
    margin-bottom: 3%;
    margin-top: -1%;
    font-style: italic;
}

.listing-createdat, .listing-endat {
    font-size: 20px;
    margin-top: -3%;
    margin-left: 8%;
    color: #666;
}

.endcontainer {
    display: flex;
    justify-content: space-between;
}

.firstblock{
    margin-left: 4%;
    width: 50%;
}

.secondblock {
    width: 30%;
    margin-right: 10%;
    margin-top: -14%;
}

.card {
    border-radius: 10px;
    height: 50%;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}






@media (max-width: 768px) {

    .card-img{
        margin-left: -30%;
        max-width: 70%;
    }
    .listing-createdat{
        font-size: 20px;
        margin-top: -2%;
        margin-left: 8%;
        color: #666;
    } 
    
    .listing-endat {
        font-size: 20px;
        margin-top: -3%;
        margin-left: 8%;
        color: #666;
    }

    .listing-bid{
        margin-left: 8%;
        font-size: 30px;
        margin-bottom: 5%;
        margin-top: -2%;
        font-style: italic;
    }
    .alert.p{
        height: 50px; 
        display: inline-block; 
        margin-left: 8%;
        font-size: 1px;
    }
}
