body {
    padding: 10px;
}

.custom-card {
    height: 250px;
    border-radius: 10px;
    border: 1px solid black;
    width: 130%; 
    margin-left: -170px;
}


.custom-image {
    width: 200px;
    height: 210px;
    margin: 20px;
    margin-left: 80px;
    object-fit: cover;
}

.custom-body {
    margin-left: 100px;
}

.card-title{
    margin-top: -10px;
    margin-bottom: 15px;
}

.custom-text {
    margin-top: 10px;
   
}
.bid{
    margin-top: 15px;
    margin-bottom: 18px;
}
.createdat{
    margin-top: 15px;
}
.endat{
    margin-top: -15px;
}