/* Reset dei margini per l'intero documento */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    text-align: right;
    background-color: #ffffff; /* Colore di sfondo bianco */
    padding: 20px;
}

.pageslink {
    color: inherit;
    margin-right: 28px;
    text-decoration: none;
    font-size: 1vw;
    font-style: normal;
    font-family: Arial, Helvetica, sans-serif;
}

footer {
    background-color: #333; /* Colore di sfondo del footer */
    color: #fff; /* Colore del testo del footer */
    padding: 10px;
    text-align: center;
    width: 100%;
    bottom: 0;
    position: absolute;
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 60vh; /* Altezza pari al 60% della viewport */
    text-align: center;
}

.title {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 6vw; /* Dimensione font relativa alla larghezza della viewport */
    letter-spacing: -0.4vw;
    margin-bottom: 4vh;
}

.searchbar-container {
    position: relative;
    display: inline-block;
    width: 40vw;
    min-width: 200px; /* Larghezza minima per evitare che si restringa troppo */
}

.searchbar {
    width: 100%;
    padding: 0.8vh 3vw 1vh 2.5vw; /* Spazio aggiunto a sinistra per l'icona */
    border-radius: 50px;
    border: 1px solid #ccc;
    font-size: 1.5vw;
}

.search-icon {
    position: absolute;
    left: 1vw;
    top: 50%;
    transform: translateY(-50%);
    width: 1vw;
    height: 1vw;
    min-width: 20px; /* Larghezza minima per evitare che si restringa troppo */
    min-height: 20px; /* Altezza minima per evitare che si restringa troppo */
    pointer-events: none; /* Icona non cliccabile */
}

.button {
    align-items: center;
    margin-top: 4vh;
    margin-right: 5px;
    padding: 1vh 1vw;
    font-size: 1.1vw;
    border-radius: 5px;
    border: 1px solid #ccc;
    background-color: #f8f9fa; /* Colore di sfondo simile a Google */
    transition: background-color 0.3s ease;
}

.button:hover {
    background-color: #00aaff; /* Colore al passaggio del mouse */
}

@media (max-width: 700px) {
    .pageslink {
        font-size: 3vw;
    }

    .title {
        font-size: 12vw;
    }

    .searchbar-container {
        width: 80vw;
    }

    .searchbar {
        font-size: 3vw;
        padding: 0.5vh 5vw 1vh 8vw;
    }

    .search-icon {
        width: 1vw;
        height: 1vw;
    }

    .button {
        font-size: 2vw;
        padding: 1.5vh 5vw;
    }
}
