{% extends "layout.html" %}

{% load static %}

{% block title %}Contacts{% endblock %}

{% block head %}
<link href="{% static 'contact_style/contactlist.css' %}" rel="stylesheet">
{% endblock %}

{% block body %}
<div class="header-section">
    <div class="profile-icons">
        <button id="deleteButton" disabled onclick="deleteSelectedContacts()">
            <img src="{% static 'img/delete.png' %} " class="icon" alt="Delete">
            {% csrf_token %}
        </button>
        <button id="selectButton" onclick="toggleCheckboxes()">
            <img src="{% static 'img/select.png' %}" class="icon" alt="Select">
        </button>
        <button id="addButton" onclick="window.location.href='{% url 'add_contact' %}'">
            <img src="{% static 'img/add.png' %}" class="icon" alt="Add">
        </button>
    </div>
</div>

<!-- Confirm deletion -->
<div id="confirmModal" class="modal" style="display: none;">
    <div class="modal-content">
        <p>Are you sure you want to delete the selected contacts?</p>
        <button class="btn btn-info" id="confirmDeleteButton" onclick="confirmDelete()">OK</button>
        <button class="btn btn-info" onclick="cancelDelete()">Cancel</button>
    </div>
</div>

{% for contact in contacts %}
<div class="profile-wrapper">
    <div class="profile-container" onclick="openContactDetails({{ contact.id }})">
        <input type="checkbox" class="checkbox" hidden  data-contact-id="{{ contact.id }}" onchange="updateDeleteButton()">

        <button id="FavoriteButtonContact" onclick="toggleFavoriteContact(this, {{ contact.id }})">
            {% if contact.isFavorite %}
            <img src="{% static 'img/redFavorite.png' %}" data-white-src="{% static 'img/whiteFavorite.png' %}" data-red-src="{% static 'img/redFavorite.png' %}" class="Favorite" alt="Favorite Icon">
            {% else %}
            <img src="{% static 'img/whiteFavorite.png' %}" data-white-src="{% static 'img/whiteFavorite.png' %}" data-red-src="{% static 'img/redFavorite.png' %}" class="Favorite" alt="Favorite Icon">
            {% endif %}
        </button>
        
        <div class="profile-picture">
            {{ contact.name.0|upper }}{{ contact.surname.0|upper }}
        </div>
        <div class="name-row">
            <span id="firstName">{{ contact.name }}</span>
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            <span id="lastName">{{ contact.surname }}</span>
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            <span id="nickname">{{ contact.nickname }}</span>
        </div>
    </div>

    <div class="profile-footer" onclick="toggleContactDetails(this)">
        <div class="contact-details" style="display: none;">
            <span class="label">Email:</span> <span class="contact-info">{{ contact.email }}</span>
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            <span class="label">Phone:</span> <span class="contact-info">{{ contact.phone_number_1 }}</span>
        </div>
        <span class="arrow">&#9660;</span>
    </div>
</div>
{% endfor %}
{% endblock %}

{% block script %}
<script src="{% static  'js/contacts/contact_list.js' %}"></script>
<script src="{% static  'js/isFavorite.js' %}"></script>
{% endblock %}