{% extends "contacts/layout.html" %}
{% load static %}

{% block title %}Home{% endblock %}

{% block body %}
<div class="header-section">
    <div class="profile-icons">
        <button><img src="{% static 'img/save.png' %}" class="icon" alt="Save"></button>
        <button><img src="{% static 'img/edit.png' %}" class="icon" alt="Edit"></button>
    </div>
</div>


<div class="profile-container">
    <div class="profile-picture">
        {{ user.first_name.0|upper }}{{ user.last_name.0|upper }}
    </div>

    <!-- Authenticated User Information -->
    <div class="user-info">
        <!-- Name and Surname on the same row -->
        <div class="name-row">
            <span class="label">Name:</span> {{ user.first_name }} &nbsp;&nbsp; <span class="label">Surname:</span> {{ user.last_name }}
        </div>
        <p class="nickname" style="color: #6e94bc;;">Nickname:{{ user.nickname }}</p>
        <!-- Company and Job Position on the same row -->
        <div class="job-row">
            <span class="label">Company:</span> {{ user.company }} <span class="label">Position:</span> {{ user.job_position }}
        </div>

        
        

        
        <!-- Email and Phone Numbers in separate rows -->
        <p><strong>Email:</strong> {{ user.email }}</p>
        <p><strong>Primary Phone:</strong> {{ user.phone_number_1 }}</p>
        <p><strong>Secondary Phone:</strong> {{ user.phone_number_2|default:"N/A" }}</p>
    </div>
</div>
{% endblock %}
