{% load static %}

<!DOCTYPE html>
<html lang="en">
    <head>
        <title>{% block title %}Contacts{% endblock %}</title>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
        <link href="{% static 'contacts/styles.css' %}" rel="stylesheet">
    </head>
    <body>

        <nav class="navbar navbar-expand-lg navbar-light bg-light">          
            <div>
              <ul class="navbar-nav mr-auto">
                {% if user.is_authenticated %}
                <li class="nav-item">
                <button id="openSidebarBtn">☰</button>
            </li>
                <li class="nav-item">
                  <a class="nav-link" href="{% url 'index' %}">Home</a>
                </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'logout' %}"></a>
                    </li>
                {% else %}
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'login' %}">Log In</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'register' %}">Register</a>
                    </li>
                {% endif %}
              </ul>
            </div>
          </nav>

          <div id="sidebar" class="sidebar">
            <ul class="nav flex-column">
                {% block sidebar %}
                {% endblock %}
            </ul>
        </div>
        

        
        <script>
            document.getElementById("openSidebarBtn").onclick = function() {
                document.getElementById("sidebar").classList.toggle("show");
            };
        </script>
        

        
        <div class="body">
            {% block body %}
            {% endblock %}
        </div>
    </body>
</html>