
/*----------------------- NEW POST----------------- */

/* new post H1 Title*/
.newpost {
    margin-top: 40px;
    text-align: center;
}

/* new post form */
.postform {
    width: 100%;
    max-width: 900px;
    height: 500px;
    margin: 20px auto;
    padding: 15px;
    border: 1px solid #ccc;
    border-radius: 10px;
    background-color: #f9f9f9;
}

/* textarea  */
.postform .postbody {
    width: 100%;
    height: 400px;
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 5px;
    resize: none;
    margin-bottom: 10px;
    margin-top: 10px;
    outline: none;
}

.postform .postbody:focus {
    border-color: #007bff;
    box-shadow: 0 0 5px rgba(0, 123, 255, 0.5);
}

/* submit button */
.postform button[type="submit"] {
    background-color: #007bff;
    border: none;
    color: white;
    padding: 10px 20px;
    font-size: 16px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.postform button[type="submit"]:hover {
    background-color: #0056b3;
}

@media (max-width: 768px) {
    .postform {
        padding: 10px;
        width: 400px;
        height: 300px;
    }

    .postform .postbody {
        height: 180px;
    }
}

/*----------------------------------------------------*/


/*----------------------- CARDS POSTs----------------- */

.allpostpage{
    margin-left: 50px;
    margin-top: 30px;
}

.card-container {
    display: flex;
    flex-wrap: wrap; 
    justify-content: start; 
    gap: 50px;
    padding: 20px;
    margin-top: 10px;
    margin-left: 90px;
}

.card {
    width: 25rem; 
    border: 3px solid; 
    border-radius: 10px;
}


.card-header {
    font-weight: bold; 
    font-size: 20px;
    background-color: transparent; 
}


.card-title {
    font-size: 1.8rem;
    margin-bottom: 30px; 
}


.card-text {
    color: gray;
    font-size: 0.85em;
    position: absolute; 
    bottom: 60px; 
    left: 10px; 
    right: 10px; 
}

/*----------------------------------------------------*/


/*----------------------- USER PROFILE ----------------- */

.usercontainer {
    margin-left: 100px;
    margin-top: 50px;
    text-align: start; 
}

.user-info {
    display: flex;
    align-items: start;
    gap: 100px;
}

.username {
    margin-right: 20px;
    font-size: 40px;
    font-style: italic;
    
}

.followers, .following {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.followers span, .following span {
    font-size: 2rem;
    font-weight: bold;
}

.followers p, .following p {
    margin-top: 5px;
    font-size: 1.2rem;
    color: rgb(0, 102, 255);
}

/*----------------------------------------------------*/