{% extends "standard/layout.html" %}

{% load static %}

{% block title %}Contact{% endblock %}

{% block head %}
<link href="{% static 'contact_style/calendar/events_details.css' %}" rel="stylesheet">
<link href="{% static 'contact_style/components/header_buttons.css' %}" rel="stylesheet">
<link href="{% static 'contact_style/components/profile_pictures.css' %}" rel="stylesheet">
<link href="{% static 'contact_style/components/add_card.css' %}" rel="stylesheet">
{% endblock %}

{% block body %}

<div class="header-section">
    <div class="profile-icons">
        <button id="deleteEventButton">
            <img src="{% static 'img/delete.png' %}" class="icon" alt="Delete">
            {% csrf_token %}
        </button>
    </div>
</div>

<div class="event-details-container">
    <div class="event-title">
        {{ event.title|upper }}
    </div>

    <div class="event-info">
        <div class="event-row">
            <span class="label">Start:</span> 
            <label>{{ event_start|date:"g:i a" }}</label>
        </div>
        
        <div class="event-row">
            <span class="label">End:</span> 
            <label>{{ event_end|date:"g:i a" }}</label>
        </div>
        
        <div class="contact-info">
            {% if event.contact %}
                <div class="contact-profile">
                    <div class="contact-picture">
                        {{ event.contact.name.0|upper }}{{ event.contact.surname.0|upper }}
                    </div>

                    <div class="contact-details">
                        <div class="contact-name">
                            <span class="name">{{ event.contact.name }}</span>
                            <span class="surname">{{ event.contact.surname }}</span>
                        </div>
                        <div class="contact-sub-info">
                            <span class="nickname">{{ event.contact.nickname }}</span>
                            <span class="phone">{{ event.contact.phone_number_1 }}</span>
                        </div>
                    </div>
                </div>
            {% endif %}
        </div>
    </div>


            <div class="members">   
            {% if event.group %}
                <div class="profile-wrapper contact-info">
                    <div class="profile-container-member">
                        <div class="profile-picture-member">
                            {{ event.group.name|upper }}
                        </div>
                    </div>
                </div>
            {% endif %}
            </div>
        </div>
</div>
{% endblock %}

{% block script %}

{% endblock %}
