{% extends "auctions/layout.html" %}

{% block body %}
<h2>Active Listings</h2>

<div class="container">
    {% for listing in active_listings %}
    <a href="{% url 'listing' listing.id %}" style="text-decoration: none; color: inherit;">
        <div class="card" style="margin-left: -15%;">
            {% if listing.image_url %}
            <div class="card-img-container">
                <img class="card-img" src="{{ listing.image_url }}" alt="{{ listing.title }}">
            </div>
            {% endif %}
            <div class="card-body">
                <h2 class="card-title">{{ listing.title }}</h2>
                <p class="card-description">{{ listing.description }}</p>
                <h3 class="card-bid">
                    {% if listing.current_bid %}
                    Current Bid: ${{ listing.current_bid }}
                    {% else %}
                    Price: ${{ listing.starting_bid }}
                    {% endif %}
                </h3>
                <p class="card-createdat"><strong>Created at:</strong> {{ listing.created_at }}</p>
                <p class="card-endat"><strong>End at:</strong> {{ listing.end_time }}</p>
            </div>
        </div>
    </a>
    {% endfor %}
</div>
{% endblock %}
