{% extends "auctions/layout.html" %}


{% block body %}


{% if messages %}
{% for message in messages %}
    {% if message.tags == 'error' %}
        <div class="alert alert-danger" role="alert" style="height: 50px; display: inline-block; margin-left: 8%;">
            <p style="font-size: 25px; margin-top: -10px; margin-right: 15px;">{{ message }}</p>
        </div>
    {% elif message.tags == 'success' %}
        <div class="alert alert-success" style="height: 50px; display: inline-block; margin-left: 8%;">
            <p style="font-size: 25px; margin-top: -10px; margin-right: 15px;">{{ message }}</p>
        </div>
    {% endif %}
{% endfor %}
{% endif %}


<h1 class="listing-title">Listing: {{ listing.title }}</h1>
<p class="listing-seller"><strong>Listed by:</strong> {{ listing.seller }}</p>
<p class="listing-email"><strong>Email:</strong> {{ listing.seller.email }}</p>

{% if user.is_authenticated %}
    <form style="margin-left: 8%; margin-top: -10px;" method="POST" action="{% url 'watchlist' listing.id %}">
        {% csrf_token %}
        {% if is_watchlisted %}
            <button type="submit" class="btn btn-danger">Remove from Watchlist</button>
        {% else %}
            <button type="submit" class="btn btn-success">Add to Watchlist</button>
        {% endif %}
    </form>
{% endif %}


<div class="listing-detail">
    {% if listing.image_url %}
        <img class="listing-img" src="{{ listing.image_url }}">
    {% endif %}
</div>

<div class="listing-body">
    <p class="listing-description">{{ listing.description }}</p>
    <h6 class="listing-bid">
        {% if listing.current_bid %}
        <p>Current Bid: ${{ listing.current_bid }}</p>
        {% else %}
        <p>Starting Price: ${{ listing.starting_bid }}</p>
        {% endif %}
    </h6>
  
    {% if user.is_authenticated %}
    <form class="row align-item-start" style="margin-left: 7%; margin-top: -35px; margin-bottom: 2%;" method="POST" action="{% url 'bids' listing.id %}">
        {% csrf_token %}
        <div class="col-auto">
            <label for="bidAmount" style="font-size: 30px; font-weight: bold;">Place your bid:</label>
        </div>
        <div class="col-auto">
            <input type="number" style="margin-top: 8%; width: 150%;" name="bid" class="form-control" id="bidAmount" placeholder="Your bid" required>
        </div>
        <div class="col-auto" style="margin-left: 8%;">
            <button type="submit" class="btn btn-primary">Submit Bid</button>
        </div>
    </form>
{% endif %}


    <p class="listing-createdat"><strong>Created at:</strong> {{ listing.created_at }}</p>
    <p class="listing-endat"><strong>End at:</strong> {{ listing.end_time }}</p>
    <p  class="listing-category"><strong>Category:</strong> {{ category_name }}</p>
</div>


{% endblock %}
