
<div class="card border-info mb-3">
    <div class="card-header border-info">
        {% if show_username %}
        <a style="color: black;" href="{% url 'profile' post.user.username %}">{{ post.user.username }}</a>
        {% else %}
        <p style="color: grey; font-size: medium; margin-bottom: -2px;">{{ post.date }}</p>
        {% endif %}
    </div>
    <div class="card-body">
        <h5 class="card-title">{{ post.body }}</h5>
        {% if show_username %}
        <p class="card-text">{{ post.date }}</p>
        {%endif%}
    </div>
    <div class="card-footer border-info">Like: {{ post.like }}</div>
</div>

