
<div class="card border-info mb-3">
    <div class="card-header border-info">
        {% if show_username %}
        <a style="color: black;" href="{% url 'profile' post.user.username %}">{{ post.user.username }}</a>
        {% else %}
        <p style="color: grey; font-size: medium; margin-bottom: -2px;">{{ post.date }}</p>
        {% endif %}
    </div>
    <div class="card-body">
        <h5 class="card-title" id="post-content-{{ post.id }}" >{{ post.body }}</h5>
        {% if show_username %}
        <p class="card-text">{{ post.date }}</p>
        {%endif%}
         <!-- Hidden textarea for editing the post -->
         <textarea class="edit-area" id="edit-post-{{ post.id }}">{{ post.body }}</textarea>
    </div>
    <div class="card-footer border-info">
        Like: {{ post.like }}
        {% if request.user == post.user %}
        <button class="edit-btn" data-post-id="{{ post.id }}" style="background-color: transparent; border-color: transparent; float: right;">
            <img src="../../static/network/pen-fill.svg">
        </button>
        <button class="save-btn" id="save-btn-{{ post.id }}" >Save</button>
        {% endif %}

    </div>
</div>
<script>
document.addEventListener('DOMContentLoaded', function() {
    document.querySelectorAll('.edit-btn').forEach(button => {
        button.onclick = function() {
            const postId = this.dataset.postId;
            const postContent = document.getElementById(`post-content-${postId}`);
            const editArea = document.getElementById(`edit-post-${postId}`);
            const editButton = this;
            const saveButton = document.getElementById(`save-btn-${postId}`);

            console.log({ postId });
            console.log({ postContent });
            console.log({ editArea });
            console.log({ editButton });

            editButton.style.display='none';
            editArea.style.display='block';
            postContent.style.display='none';
            saveButton.style.display='block';

            saveButton.onclick = function() {
                    console.log({ saveButton });
                    const newContent = editArea.value;
            };
        };
    });
});

</script>
