textarea {
    min-height: 400px;
}

.email-container {
    margin-left: 10%;
    margin-top: 2%;
    width: 80%;
    border: 1px solid black;
    padding: 15px;
    border-radius: 20px;
    text-align: center;
}

