textarea {
    min-height: 400px;
}

.email-container {
    margin-left: 10%;
    margin-top: 2%;
    width: 80%;
    border: 1px solid black;
    padding: 15px;
    border-radius: 10px;
    text-align: start;
}

.email-container div {
    display: inline-block;
    vertical-align: top;
    white-space: nowrap;
    text-overflow: ellipsis; /*long text gets truncated with ellipsis */
}

.from {
    width: 280px;

   
}

.subject {
    width: 300px;
   
}

.timestamp {
    width: 260px;
    align-items: end;
}

.email-container.unread {
    background-color: white; 
}

.email-container.read {
    background-color: grey;
}

