<div class="card border-info mb-3">
    <div class="card-header border-info">
        {% if show_username %}
        <a style="color: black;" href="{% url 'profile' post.user.username %}">{{ post.user.username }}</a>
        {% else %}
        <p style="color: grey; font-size: medium; margin-bottom: -2px;">{{ post.date }}</p>
        {% endif %}
    </div>
    <div class="card-body">
        <h5 class="card-title" id="post-content-{{ post.id }}" >{{ post.body }}</h5>
        {% if show_username %}
        <p class="card-text">{{ post.date }}</p>
        {%endif%}
         <textarea class="edit-area" id="edit-post-{{ post.id }}">{{ post.body }}</textarea>
    </div>
    <div class="card-footer border-info">
        <button class="like-btn" data-post-id="{{ post.id }}">
            <img id="like-icon-{{ post.id }}" src="{% if post.id in liked_posts %}../../static/network/icon/arrow-heart-red.svg{% else %}../../static/network/icon/arrow-heart.svg{% endif %}">
        </button>
        <span id="like-count-{{ post.id }}">
            {{post.like_count}}
        </span>
                
        {% if request.user == post.user %}
        <button class="edit-btn" data-post-id="{{ post.id }}" style="background-color: transparent; border-color: transparent; float: right;">
            <img id="like-icon-{{ post.id }}" src="../../static/network/icon/pen-fill.svg">
        </button>
        <button class="save-btn" id="save-btn-{{ post.id }}" >Save
            {% csrf_token %}
        </button>
        {% endif %}
    </div>
</div>

{% block script %}

    <script src="../../static/network/js/post-edit.js"></script>
    <script src="../../static/network/js/like.js"></script>

{% endblock %}